# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
.Rproj.user/
.RData
folha.Rproj
_pycache_/
__pycache__/
*/_pycache_/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.pyc

# Windows shortcuts
*.lnk
.RData
.Rhistory

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride
.Rhistory

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.Rproj.user
crawler/trip-advisor-crawler/.spyproject/codestyle.ini
crawler/trip-advisor-crawler/.spyproject/encoding.ini
crawler/trip-advisor-crawler/.spyproject/vcs.ini
crawler/trip-advisor-crawler/.spyproject/workspace.ini
.settings/org.eclipse.core.resources.prefs
.spyproject/encoding.ini
.spyproject/vcs.ini
.spyproject/codestyle.ini
.spyproject/workspace.ini
